/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    font-family: freight-sans-compressed-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    position: fixed;
    padding-bottom: 5px;
    top: 0;
    z-index: 1000;
    width: 700px;
    font-size: 17px;
    padding: 25px 0px;
    right: 40px;
    letter-spacing: .2em;
}

@media screen and (max-width: 800px) {
  .topnav {
    width: 500px;
    font-size: 16px;
    padding: 25px 0px;
    left: 25%;
    letter-spacing: .2em;
  }
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 0px;
    margin-left: -1px;
    border: 2px solid #232323;
    text-decoration: none;
    background-color: white;
    color: #232323;
    transition: color 0.3s ease;

}

@media screen and (max-width: 800px) {
  .topnav a {
    padding: 5px 17px;
  }
}

/* Change the color of links on hover */
.topnav a:hover {
    border: 2px solid #232323;
    background-color: #232323;
    color: white;
}

.topnav .active {
    background-color: #232323;
    color: white;
}

/* Add a color to the active/current link */

.topnavtitle {
    float: left;
    top: 0px;
    position: fixed;
    font-size: 4em;
    margin-top: -10px;
    text-decoration: none !important;
    font-weight: 700;
    font-family: freight-sans-compressed-pro, sans-serif;
}

.topnavtitle a:hover {
    text-decoration: none !important;
}

html::-webkit-scrollbar {
  color: #232323;
  overflow-y: scroll;
}

html::-webkit-scrollbar-thumb {
  background-color: #232323;
  border: 2px solid #232323;
}

html::-webkit-scrollbar-track {
  background-color: none;
}
