body, html {
  margin: auto;  
  color: #232323;
  width: 100%;
  height: 100%;
/*  cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), pointer;
*/  height: 100%;
  user-select: none;
  overflow-x: hidden;
}

h1 {
  font-size: 205px;
  display: block;
  position: relative;
  font-family: freight-sans-compressed-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 500px;
  width: 90%;
  margin: auto;
}
h1:hover {
  animation: glitch .4s steps(100);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 130px;
    padding-bottom: 400px;
    width: 90%;
  }
}

h2 {
  display: inline-block;
  float: right;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  padding-right: 0%;
  padding-top: 150px;
  margin-top: 12%;
  position: relative;
  margin: 0% 9% 0% 31%;
}

.veganmeaning {
  top: 18vh;
  margin: auto;
  font-weight: 600;
  font-size: 55px;
  color: white;
  background-color: #232323;
  padding:62px;
  width: 80%;
  animation: none;
}
.veganmeaning:hover {
  animation: glitch 0s steps(100) !important;
}

.introtext {
  top: 19.5vh;
  line-height: 190px;
}

@media screen and (max-width: 800px) {
  .introtext {
    line-height: 120px;
  }
}

#whyvegan {
  padding-top: 0px;
  top: 0vh;
}

#masscows {
  z-index: -100;
  top: 1800px;
  right: 0px;
  display: block;
  position: absolute;
  animation-fill-mode: forwards;
}

#masspigs {
  z-index: -100;
  bottom: -250px;
  right: 20px;
  display: block;
  position: absolute;
  animation-fill-mode: forwards;
}

#babypigs {
  z-index: -100;
  margin-top: -250px;
  display: block;
  position: absolute;
  right: 20px;
  animation-fill-mode: forwards;
}

#runchicks {
  z-index: -100;
  margin-top: -4000px;
  display: block;
  position: absolute;
  right: 0;
  animation-fill-mode: forwards;
}

#deadpig {
  z-index: -100;
  display: block;
  position: absolute;
  right: 20px;
  margin-right: 250px;
  animation-fill-mode: forwards;
}

#chicks {
  z-index: -100;
  margin-top: -150px;
  display: block;
  position: absolute;
  right: 200px;
  width: 300px;
  animation-fill-mode: forwards;
}

#factory3 {
  z-index: -100;
  display: block;
  margin-right: 0px;
  margin-top: -1100px;
  position: absolute;
  left: -400px;
  animation-fill-mode: forwards;
}

#debeaked {
  z-index: -100;
  display: block;
  margin-right: 0px;
  margin-top: 0px;
  position: absolute;
  right: 0px;
  animation-fill-mode: forwards;
}

#poorchickens {
  z-index: -100;
  margin-top: -400px;
  display: block;
  position: absolute;
  right: 170px;
  animation-fill-mode: forwards;
}

#nofeathers {
  z-index: -100;
  margin-top: -300px;
  display: block;
  position: absolute;
  right: 300px;
  animation-fill-mode: forwards;
}

#babycow {
  z-index: -100;
  top: 4400px;
  display: block;
  position: absolute;
  left: 200px;
  animation-fill-mode: forwards;
}

#chickenimage {
  z-index: -100;
  top: 2700px;
  display: block;
  position: absolute;
  left: 20px;
  animation-fill-mode: forwards;
}

#deadpig {
  z-index: -100;
  top: 9500px;
  display: block;
  position: absolute;
  left: 20px;
  animation-fill-mode: forwards;
}

#raperack {
  z-index: -100;
  top: 8300px;
  display: block;
  position: absolute;
  left: 20px;
  animation-fill-mode: forwards;
}
